body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  overflow: hidden;
}
.slide-container {
  scroll-snap-type: x mandatory;
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
  height: 100vh;
  scroll-behavior: smooth;
}
.slide {
  scroll-snap-align: start;
  scroll-snap-stop: always;
  flex-shrink: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
